<header>
  <h1>
    <a href="{{ '/' | url }}">{{ site.title }}</a>
  </h1>
  <ul class="nav">
    {%- for nav in site.nav -%}
      <li class="{% if nav.url == page.url %}is-active{% endif %}">
        <a href="{{ nav.url | url }}">{{ nav.item }}</a>
      </li>
    {%- endfor -%}
  </ul>
</header>