---
layout: base
---
<h1>Main Content Here</h1>
<ul>
  <li>item 1</li>
  <li>item 2</li>
</ul>

<h2>svg symbol</h2>
<svg role="img" class="svg-icon" aria-labelledby="toggle-nav-icon-title" focusable="false">
  <title id="toggle-nav-icon-title">Menu</title>
  <use xlink:href="#icon-add"/>
</svg>